description "skype history server"

start on started mongod
stop on runlevel [016]

setuid <%= pkg.deploy[grunt.shipit.stage].user %>

limit nofile 1000000 1000000

console log

script
  export NODE_ENV=<%= grunt.shipit.stage %>
  nodejs <%= grunt.shipit.config.deployTo %>/current/server.js
end script

respawn
